name: Version Check

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Show PR commits
        run: git log "origin/${{ github.base_ref }}"..HEAD --pretty=format:'%h %s'

      - name: Check Conventional Commits
        uses: wagoid/commitlint-github-action@v5
        with:
          configFile: .commitlintrc.cjs
          helpURL: https://github.com/opsdevcode/kubesnooze/blob/main/CONTRIBUTING.md#conventional-commits

      - name: Verify version bump
        run: .github/scripts/check-version.sh
